* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #1F2937;
    display: flex;
    padding: 20px 5px 20px 15%;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    flex: 55%;
        
}
.navbar {
    display: flex;
    flex: 45%;
    justify-content:flex-end;
    color: #e5e7eb;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}
.content-1 {
    display: flex;
    background-color: #1F2937;
    padding: 5% 10px 10% 0%;

}
.content-1a {

    font-weight: bolder;
    padding-left: 15%;
    padding-bottom: 0%;
    flex: 50%;
    color: #f9faf8;
}
.content-1b {
    
    flex: 50%;
    text-align: center;
    background-color: #8A8D9A;
    margin: 0px 20px;

}
.button {
    background-color: #3882f6;
    border-radius: 8px;
    color:#f9faf8;
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    font-weight:bold;
    margin: 10px 0px;
}
.content-2 {
    display: flex;
    text-align: center;
    padding: 5% 20%;
    flex-direction: column;
}
.content-2a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 5% 0;
}
div.gallery {
    
}
div.gallery img{
    border: 4px solid #3882f6;
    border-radius: 8px;
    

}
div.gallery desc {
    padding: 15px;
    text-align: center;
}

.content-3 {
    
}
.content-4 {

}

.footer {
    width: 100%;
    text-align: center;
    color: #f9faf8;
    background: #1F2937;
    height: 50px;
}
@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }}